body {
    margin: 0 auto;
    padding: 20px;
    background-color: #272727;
    color: #D7D7D7;
    font-family: 'Inconsolata';
    text-align: center;
}

button {
    background-color: #272727;
    border: 1px solid #D7D7D7;
    color: #D7D7D7;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Inconsolata';
    outline: none;
}

button:hover {
    background-color: #D7D7D7;
    color: #272727;
}
